header
    .header-column
        a(href=routes.HOME).header-logo
            span.header-logo_logo
                i.fab.fa-youtube
            span.header-logo_text GgyaalTube
    .header-column
        form.searchBox
            input(type="text", placeholder="검색")
            button
                i.fas.fa-search
    .header-column
        ul
            if loggedIn
                li 
                    a(href=`/videos${routes.UPLOAD_VIDEO}`)
                        i.fas.fa-video.header-icons
                li 
                    button.header-profile.header-icons#headerProfile
                        .profile-img
                            if loggedUser.avatar
                                    img(src=loggedUser.avatar, crossorigin)
                            else
                                span=loggedUser.name.substring(0, 1)
                .profile-menu.hidden
                    .menu-column.header-profile
                        .profile-img.big
                            if loggedUser.avatar
                                    img(src=loggedUser.avatar, crossorigin)
                            else
                                span=loggedUser.name.substring(0, 1)
                        .menu-me
                            span=loggedUser.name
                            a(href=`/users${routes.USER_EDIT}`).menu-link 프로필 수정
                    .menu-divider
                    .menu-column.opt
                        a(href=`/users/${routes.PROFILE(loggedUser._id)}`)
                            i.fas.fa-id-card-alt
                            span 내 채널
                    .menu-column.opt
                        a(href=routes.LOGOUT)
                            i.fas.fa-sign-out-alt
                            span 로그아웃
            else
                li 
                    button.header-menu
                        i.fas.fa-ellipsis-v.header-icons
                li
                    a(href=routes.LOGIN)
                        .login-btn
                            i.fas.fa-user-circle
                            | 로그인
if loggedIn
    script(src="/static/js/menu.js") 