header
    .header-column
        span GgyaalTube
    .header-column
        ul
            if loggedIn
                li 
                    a(href=routes.LOGOUT) logout
                li 
                    a(href=`/users${routes.PROFILE(loggedUser._id)}`) profile
            else
                li 
                    a(href=routes.JOIN) Join
                li 
                    a(href=routes.LOGIN) login

            li 
                a(href="") menu
            li 
                a(href=`/videos${routes.UPLOAD_VIDEO}`) upload